#Part 2 데이터 입출력

## 1 외부 파일 읽어 오기

### 1-1 CSV 파일

In [1]:
# pandas.read_csv("파일경로 (이름)")

In [ ]:
# header 옵션
# index_col 옵션

In [2]:
%cd /content/drive/MyDrive/AI/Bart/파이썬 머신러닝 판다스 데이터 분석/data

/content/drive/MyDrive/AI/Bart/파이썬 머신러닝 판다스 데이터 분석/data

In [ ]:
# CSV 파일 읽기
import pandas as pd

#파일 경로(파이썬 파일과 같은 폴더)를 찾고, 변수 file_path에 저장
file_path = 'read_csv_sample.csv'

# read_csv() 함수로 데이터프레임 변환. 변수 df1에 저장 
df1 = pd.read_csv(file_path)
print(df1)
print('\n')

# read_csv() 함수로 데이터프레임 변환. 변수 df2에 저장. header=None 옵션
df2 = pd.read_csv(file_path , index_col = None)
print(df2)
print('\n')

# read_csv() 함수로 데이터프레임 변환. 변수 df3에 저장, index_col = None 옵션
df3 = pd.read_csv(file_path, index_col = None)
print(df3)
print('\n')

# read_csv() 함수로 데이터플임 변환. 변수 df4에 저장. index_col = 'c0' 옵션
df4 = pd.read_csv(file_path , index_col = 'c0' )
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

###1-2 Excel 파일

In [ ]:
#pandas.read_excel("파일 경로 (이름)")

In [ ]:
#Excel파일 읽기
import pandas as pd

# read_excel() 함수로 데이터 프레임 변환
df1 = pd.read_excel('/content/drive/MyDrive/AI/Bart/파이썬 머신러닝 판다스 데이터 분석/data/남북한발전전력량.xlsx' , engine = 'openpyxl') #header = 0 (default)
df2 = pd.read_excel('/content/drive/MyDrive/AI/Bart/파이썬 머신러닝 판다스 데이터 분석/data/남북한발전전력량.xlsx' , engine = 'openpyxl' , header = None)

# 데이터프레임 출력
print(df1)
print('\n')
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

### 1-3 JSON 파일

In [ ]:
#key:value 구조

#pandas.read_jason("파일 경로 (이름)")

In [ ]:
#JSON 파일 읽기
import pandas as pd

# read_json() 함수로 데이터프레임 변환
df = pd.read_json('/content/drive/MyDrive/AI/Bart/파이썬 머신러닝 판다스 데이터 분석/data/read_json_sample.json')
print(df)
print('\n')
print(df.index)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True


Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

## 2 웹에서 가져오기

### 2-1 HTML 웹페이지에서 표 속성 가져오기

In [ ]:
#HTML 표 속성 읽기: pandas.read_html( "웹 주소 (URL)" 또는 "HTML 파일 경로(이름)")

In [ ]:
#웹에서 표 정보 읽기
import pandas as pd

# HTML 파일 경로 or 웹 페이지 주소를 url 변수에 저장
url  = '/content/drive/MyDrive/AI/Bart/파이썬 머신러닝 판다스 데이터 분석/data/sample.html'

# HTML 웹페이지의 표(table)를 가져와서 데이터프레임으로 변환
tables = pd.read_html(url)

# 표(table)의 개수 확인
print(len(tables))
print('\n')

# tables 리스트의 원소를 iteration하면서 각각 화면 출력
for i in range(len(tables)):
    print("tables[%s]" % i)
    print(tables[i])
    print('\n')

# 파이썬 패키지 정보가 들어 있는 두 번째 데이터 프레임을 선택하여 df 변수에 저장
df = tables[1]

# 'name' 열을 인덱스로 지정
df.set_index(['name'] , inplace = True)
print(df)

2


tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

### 2-2 웹 스크래핑

In [ ]:
# 라이브러리 불러오기
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

# 위키피디아 미국 ETF 웹 페이지에서 필요한 정보를 스크래핑하여 딕셔너리 형태로 변수 etf에 저장
url = "https://en.wikipedia.org/wiki/List_of_American_exchange-traded_funds"
resp = requests.get(url)
soup = BeautifulSoup(resp.text, 'lxml')
rows = soup.select('div > ul > li')

etfs = {}
for row in rows:

    try:
        etf_name = re.findall('^(.*) \(NYSE', row.text)
        etf_market = re.findall('\((.*)\|', row.text)
        etf_ticker = re.findall('NYSE Arca\|(.*)\)', row.text)

        if (len(etf_ticker) > 0) & (len(etf_market) > 0) & (len(etf_name) > 0):
            etfs[etf_ticker[0]] = [etf_market[0], etf_name[0]]

    except AttributeError as err:
        pass

# etfs 딕셔너리 출력
print(etfs)
print('\n')

# etfs 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(etfs)
print(df)
#이거 안 됨

{}


Empty DataFrame
Columns: []
Index: []

## 3 API 활용하여 데이터 수집하기

## 4 데이터 저장하기

### 4-1 CSV 파일로 저장

In [ ]:
# CSV파일로 저장'A
import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
data = {'name' : [ 'Jerry' , 'Riah' , 'Paul'],
        'algol' : ["A" , "A+" , "B"],
        'basic' : ["C" , "B" , "B+"],
        'c++' : ["B+" , "C" , "C+"]}

df = pd.DataFrame(data)
df.set_index('name' , inplace=True)
print(df)

# to_csv() 메소드를 사용하여 CSV 파일로 내보내기. 파일명은 df_sample.csv로 저장
df.to_csv("/content/drive/MyDrive/AI/Bart/파이썬 머신러닝 판다스 데이터 분석/data/df_sample.csv")

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

### 4-2 JSON 파일로 저장

In [ ]:
import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
data = {'name' : [ 'Jerry' , 'Riah' , 'Paul'],
        'algol' : ["A" , "A+" , "B"],
        'basic' : ["C" , "B" , "B+"],
        'c++' : ["B+" , "C" , "C+"]}

df = pd.DataFrame(data)
df.set_index('name' , inplace=True)
print(df)

# to_json() 메서드를 사용하여 JSOM 파일로 내보내지. 파일명은 df_sample.json로 저장
df.to_json("/content/drive/MyDrive/AI/Bart/파이썬 머신러닝 판다스 데이터 분석/df_sample.json")

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

### 4-3 Excel 파일로 저장

In [ ]:
import pandas as pd

#판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
data = {'name' : [ 'Jerry' , 'Riah' , 'Paul'],
        'algol' : ["A" , "A+" , "B"],
        'basic' : ["C" , "B" , "B+"],
        'c++' : ["B+" , "C" , "C+"]}

df = pd.DataFrame(data)
df.set_index('name' , inplace=True)
print(df)

# to_excel() 메소드를 사용하여 Excel 파일로 내보내기. 파일명은 df_sample.xlsx로 저장.
df.to_excel("/content/drive/MyDrive/AI/Bart/파이썬 머신러닝 판다스 데이터 분석/df_sample.xlsx")

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

### 4-4 여러 개의 데이터프레임을 하나의 Excel 파일로 저장

In [ ]:
import pandas as pd

#판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
data = {'name' : [ 'Jerry' , 'Riah' , 'Paul'],
        'algol' : ["A" , "A+" , "B"],
        'basic' : ["C" , "B" , "B+"],
        'c++' : ["B+" , "C" , "C+"]}
    
data2 = {'c0':[1,2,3],
         'c1':[4,5,6],
         'c2':[7,8,9],
         'c3':[10,11,12],
         'c4':[13,14,15]}

df1 = pd.DataFrame(data)
df1.set_index('name' , inplace=True)
print(df1)
print('\n')

df2 = pd.DataFrame(data2)
df2.set_index('c0' , inplace=True)
print(df2)

#df1 을 'sheet1'으로, df2를 'sheet2'로 저장(Excel 파일명은 "df_excelwriter.xlsx")
writer = pd.ExcelWriter("/content/drive/MyDrive/AI/Bart/파이썬 머신러닝 판다스 데이터 분석/df_excelwriter.xlsx")
df1.to_excel(writer, sheet_name ="sheet1")
df2.to_excel(writer , sheet_name = "sheet2")
writer.save()

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+


    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15